@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}


/* on mobile */
@media (max-width: 640px) {
  #test, #hide {
    /* hide */
    display: none;
  }
}

.word-transition {
  opacity: 0;
  animation: wordFadeInOut 10s ease-in-out forwards;
}

.word-animation-active {
  animation-delay: 5s; /* Delay before the animation starts */
}

@keyframes wordFadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}